* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* list */

.country-list-wrap{
  display: flex;
  gap: 20px;
}

/* card */

.country-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-country {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.about-country__text {
  font-size: 20px;

}


/* стилі filmoteka */

.container {
  width: 1280px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  /* outline:  1px solid brown; */

}



/* render moal card---------- */

/* FT-06 Зверстати контейнер головної сторінки для правильного позиціонування
карток фільмів (мобілка, планшет, робочий стіл) */

.trending-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 1px solid brown; */

}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
  /* transition: transform 250ms ease-out; */
}

.trending__collection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .trending__collection {
    flex-direction: row;
    gap: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .trending__collection {
    gap: 16px;
  }
}


.trending__item {
  width: 280px;
}

@media screen and (min-width: 768px) {
  .trending__item {
    width: calc((100% - 32px) / 2);
  }
}


@media screen and (min-width: 1200px) {
  .trending__item {
    width: calc((100% - 32px) / 3);
  }
}

